[Unit]
Description=Find key-word in log file
Requires=monitor.service

[Timer]
Unit=monitor.service
OnUnitActiveSec=30s

[Install]
WantedBy=timers.target
