# Сервис, который запускает скрипт в ExecStart на наличие ключевого слова в лог файле
# Лог файл и ключевое слово задаются переменными $KEYWORD $PATHL в строке EnvironmentFile

[Unit]
Description=Find key-word in log file

[Service]
Type=simple
SuccessExitStatus=143
EnvironmentFile=/etc/sysconfig/monitor.config
ExecStart=/vagrant/monitor/monitor.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

