[Unit] 
Description=Atlassian Jira
After=network.target

[Service]
CPUAccounting=true
CPUQuota=100%
MemoryAccounting=true
LimitMemory=512M
BlockIOAccounting=true
BlockIOWeight=500
Type=forking
User=jira
PIDFile=/opt/atlassian/jira/work/catalina.pid
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh

[Install] 
WantedBy=multi-user.target